@{
    ViewData["Title"] = "MyStore";
}

<section id="hero" class="hero section accent-background">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>متجري - تجربة تسوق استثنائية</h1>
                <p>نقدم في متجري أفضل المنتجات المختارة بعناية لتلبي توقعاتكم</p>
                <div class="d-flex">
                    <a href="/Products" class="btn-get-started">اكتشف متجري</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/assets/img/hero-img.png" class="img-fluid animated" alt="متجر متجري">
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->