@{
}

<section id="services" class="section services-section">
    <div class="container" data-aos="fade-up">
        <div class="section-title mb-5">
            <h2>خدماتنا</h2>
            <p>
                نقدم مجموعة واسعة من الخدمات لتلبية احتياجات عملائنا المتنوعة.
            </p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4">
                <div class="info-box text-center shadow-sm p-2 rounded-2">
                    <i class="bi bi-cart-check text-primary"></i>
                    <h3>تشكيلة واسعة من المنتجات</h3>
                    <p>
                        نقدم مجموعة متنوعة من المنتجات عالية الجودة من أفضل العلامات التجارية
                        في مختلف الفئات.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-box text-center shadow-sm p-2 rounded-2">
                    <i class="bi bi-truck text-primary border-1 border-black"></i>
                    <h3>خدمات توصيل سريعة وموثوقة</h3>
                    <p>
                        نحن ملتزمون بتوفير خدمات توصيل سريعة وموثوقة لضمان وصول مشترياتك
                        إليك في الوقت المحدد.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-box text-center shadow-sm p-2 rounded-2">
                    <i class="bi bi-headset text-primary"></i>
                    <h3>دعم عملاء ممتاز</h3>
                    <p>
                        فريق دعم العملاء المتفاني لدينا موجود هنا لمساعدتك في أي استفسارات
                        أو مشاكل قد تواجهك.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5 pt-3" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-gear-wide text-success-emphasis text-center" style="font-size: 2rem;"></i>
            <h3 class="text-center ">خدمات إضافية</h3>
            <div class="col-lg text-center text-capitalize mt-2">
                <p class="lead">
                    بالإضافة إلى خدماتنا الأساسية، نقدم مجموعة من الخدمات الإضافية لتعزيز
                    تجربة التسوق الخاصة بك.
                </p>
                <p>
                    يشمل ذلك خيارات دفع مرنة، وسياسة إرجاع خالية من المتاعب، وبرنامج ولاء
                    لعملائنا الكرام. نحن نسعى باستمرار لتوسيع عروض خدماتنا لتلبية
                    احتياجاتك المتطورة.
                </p>
                <a href="#" class="btn btn-primary mt-5">اكتشف المزيد</a>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        AOS.init({
            duration: 800,
            easing: "ease-in-out",
            once: true,
        });
    });
</script>
