@model Store.Areas.Identity.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "تسجيل الدخول";
}

<div class="container mt-5">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section>
                <form asp-area="Identity" asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>
                    <div class="mb-3">
                        <label asp-for="UserNameOrEmail" class="form-label">اسم المستخدم أو البريد الإلكتروني</label>
                        <input asp-for="UserNameOrEmail" class="form-control" />
                        <span asp-validation-for="UserNameOrEmail" class="text-danger">@Html.ValidationMessageFor(m => m.UserNameOrEmail)</span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">كلمة المرور</label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
                    </div>
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
                    </div>
                    <div class="mb-3">
                        <p>
                            <a asp-action="Register">إنشاء حساب جديد</a>
                        </p>
                        <p>
                            <a id="forgot-password" asp-action="ForgotPassword">هل نسيت كلمة المرور؟</a>
                        </p>
                        <p>
                            <a asp-action="ResendEmailConfirmation">إعادة إرسال تأكيد البريد الإلكتروني</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}