@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "تأكيد التسجيل";
}

<h1>@ViewData["Title"]</h1>
<p>
    @if (Model.DisplayConfirmAccountLink)
    {
    <p>
        تستخدم هذه التطبيقات تأكيد الحساب بالبريد الإلكتروني.
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">انقر هنا لتأكيد حسابك</a>
    </p>
    }
    else
    {
    <p>
        يرجى التحقق من بريدك الإلكتروني لتأكيد حسابك.
    </p>
    }
</p>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-info" role="alert">
        @Model.StatusMessage
    </div>
}